<div class="container">
    <div class="cover"></div>
    <div class="title-name"> <h1> &lt;/SKILLS&gt; </h1> </div>
    <section class="aptitudes-body">
        
        <div class="reference-bar">
            <div class="reference-title">Reference values</div>
            <div class="references">
                <div class="reference">
                    
                    <span id="hover" class="text">Hover!</span>
                    <div class="bar bar0">
                        <div class="sq"></div> <!-- El min es el color y el sq el cuadrado -->
                        <div class="sq len0"></div>
                        <div class="sq len10">Expert</div>
                        <div class="sq len9">Expert</div>
                        <div class="sq len8">High</div>
                        <div class="sq len7">High</div>
                        <div class="sq len6">Medium</div>
                        <div class="sq len5">Medium</div>
                        <div class="sq len4">Low</div>
                        <div class="sq len3">Low</div>
                        <div class="sq len2">Planning to learn</div>
                        <div class="sq len1"></div>
                    </div>
                </div>
            </div>
        </div>
        <article class="skills">
            <app-coding></app-coding>
            <app-social></app-social>
            <app-other-skills></app-other-skills>
        </article>


    </section>
</div>