:root{
    --main-color: #045fa3;
    --background-color: #012128;
    --blue-color: #06aaf2;
    --orange-color: #feba3d;
    --green-color: #9f865f;
    --light-blue-color: #a7edfc;
    --bordeau-color: #321F2D;
    --light-pink-color: #DDD7D7;
    --skin-color: #E1B19B;
    --brown-color: #593E33;
}
.main-container{
    display:flex;
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
}

app-nav-bar{
    margin:0;
    padding:0;
    min-width: 150px;
    width: 150px;
    height: 100vh;
    background-color: white;
    border-right:1px solid #c0bebe;
    border-top: 1px solid #c0bebe;;
    border-radius: 0px 20px 0px 0px;
    position:fixed;
    overflow: auto; /*Pone una barrita lateral si me quedo sin espacio */
}

.navbar{
    display: flex;
    position: relative;
    width: 150px;
    height: 100vh;
}



router-outlet{
    display: flex;
    max-width: calc(100vw - 500px);
    justify-content: center;
    align-items: center;
    padding: 1px 16px 1px 0px; /* vertical, horizontal*/
    /*height: 1000px;*/
}

app-social-media{
    position:fixed;
    float:right;
    width: 40px;
    margin:0;
    right: 0px;
    top:0;
    
    
}


.main{
    display:flex;
    justify-content: center;
    padding: 0;
    margin: 0 0 15px 0;
    width: calc(100vw - 150px);
    background-color: var(--background-color);
}


@media screen and  (max-width:1185px) {
    .main-container{
        flex-direction: column;
    }
    .main{
        width: 100vw;
        flex-direction: column;
    }
    .navbar{
        display: block;
    }
    app-nav-bar{
        display: block;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-left:0;
        width: 100%;
        height: auto;
        position: relative;
    }
    app-nav-bar a{float: left;}
    .navbar{
        margin-left:0;
        width: 100%;
        height: auto;
        position: relative;
    }
    router-outlet{
        padding: 0;
        margin: 15px 0;
    }
    app-social-media{
        position: relative;
        width: 100vw;
    }

}

@media screen and (max-width: 500px) {
    app-nav-bar a{
        text-align: center;
        float: none;
    }
}