.main-container{
    display:flex;
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
}

app-nav-bar{
    margin:0;
    padding:0;
    min-width: 150px;
    width: 150px;
    height: 100vh;
    background-color: white;
    border-right:1px solid #c0bebe;
    border-top: 1px solid #c0bebe;;
    border-radius: 0px 20px 0px 0px;
    position:fixed;
    overflow: auto; /*Pone una barrita lateral si me quedo sin espacio */
}

.navbar{
    display: flex;
    position: relative;
    width: 150px;
    height: 100vh;
}



router-outlet{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 16px 1px 0px; /* vertical, horizontal*/
    height: 1000px;
}

app-social-media{
    position:sticky;
    float:right;
    width: 40px;
    margin:0;
    margin-right: 5px;
    top:0;
    
    background-color: white;
    
}


.main{
    display:flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    width: calc(100vw - 150px);
    background-color: var(--background-color);
}

:root{
    --main-color: rgb(0, 65, 119);
    --background-color: #383434;
}

@media screen and  (max-width:700px) {
    .main-container{
        flex-direction: column;
    }
    .main{
        width: 100vw;
    }
    .navbar{
        display: block;
    }
    app-nav-bar{
        display: block;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-left:0;
        width: 100%;
        height: auto;
        position: relative;
    }
    app-nav-bar a{float: left;}
    .navbar{
        margin-left:0;
        width: 100%;
        height: auto;
        position: relative;
    }

}

@media screen and (max-width: 430px) {
    app-nav-bar a{
        text-align: center;
        float: none;
    }
}