app-nav-bar{
    margin:0;
    padding:0;
    min-width: 150px;
    width: 150px;
    min-height: 1000px;
    height: 100%;
    background-color: #f1f1f1;
    border-right:1px solid #c0bebe;
    border-top: 1px solid #c0bebe;;
    border-radius: 0px 20px 0px 0px;
    position:fixed;
    overflow: auto; /*Pone una barrita lateral si me quedo sin espacio */
}

#navbar{
    width: 150px;
    height: 100%;
    background-color: darkcyan;
}

router-outlet{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 16px; /* vertical, horizontal*/
    height: 1000px;



}

app-social-media{
    position:sticky;
    float:right;
    width: 40px;
    margin:0 0 5px;
    top:0;
    
    
}

.container{
    display:flex;
    padding: 0;
    margin: 0;
    width: 100%;
    
}
.main{
    display:flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    width: calc(100% - 150px - 20px);
}

:root{
    --main-color: rgb(0, 65, 119);
}