<nav class ="navbar navbar-light "
     [ngClass]="status ? 'widerBar' : 'narrowBar'">
                <ul class="sidebar-buttons">
                    <li>
                        <button 
                        class="navbar-toggler" 
                        type="button" 
                        aria-label="Toggle navigation"
                        (click)="onClick()"
                        >
                            <span class="navbar-toggler-icon "></span>
                            
                        </button>
                    </li>
                    <li class="butn">
                        <div 
                            class="icon-frame"
                        >
                            
                            <a  routerLink="home" routerLinkActive="enable">
                                <i class="bi bi-house-fill"></i>
                                <h4 [ngClass]="status ? 'wider' : 'narrow'" >Home</h4>
                            </a>
                        
                        </div>

                    </li>
                    
                </ul>
    
</nav>