.sidebar-header{
    display: flex;
    justify-content: center;
    align-content: center;
}

.sidebar-inner a{
    display: block;
    color:black;
    padding:16px;
    text-decoration: none;
}
.sidebar-inner a:hover{
    background-color: whitesmoke;
}

.sidebar-inner a.active{
    background-color: var(--main-color);
    color:white;
}

