.sm-column{
    position: sticky;
    top:15px;
    height: calc(100vh - 25px);
}
.links-container{
    margin-top:10px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.links-container:hover{
    transition: 0.2s;
    box-shadow: 0 0 15px 10px rgb(148, 228, 0);
    border-radius: 10px;   
}

.links-container a{
    text-decoration: none;
    color: black;
}

a span.text{
    transition: 0.5s;
    opacity: 0;
    position: absolute;
    left: calc(-50% - 70px);
    right: auto;
    transform: translateY(10px);
    bottom: auto;
}
.links-container a:hover span.text{
    opacity: 1;
}

.sm-column a{
    display: block;
    margin: 10px 4px;
    padding: 4px 0px;
}

a i{
    font-size: 2em;
    text-decoration: none;
    color:var(--main-color);
}

.click-sign{
    transition: all 1s, opacity 0.3s;
    width: 100px;
    position: fixed;
    top:75px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(0, 174, 255);
    right: 10px;
    opacity: 0;
    border: 1px solid rgb(0, 105, 153);
    cursor: pointer;
    visibility: hidden;
    pointer-events: none;
}
.click-sign::before{
    content:'';
    position: fixed;
    width: 0;
    height: 0;
    left: 102px;
    top: -1px;
    right: auto;
    border:15px solid rgb(0, 105, 153);
    border-color: rgb(0, 174, 255) transparent transparent;
}

.click-sign.active{
    transition: all 0.3s;
    transform: translate(-145px,0);
    opacity: 1;
    visibility: visible;
}

