.sm-column{
    display: flex;
    align-items: center;
    position: sticky;
    top:15px;
    height: 100vh;
}
.links-container{
    transition: 0.25s;
    margin-top:10px;
    display:flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: white;
    align-items: center;
}
.links-container:hover{
    transition: 0.2s;
    border-radius: 10px;   
    transform: translateX(-15px);
}

.links-container a{
    text-decoration: none;
    color: black;
    
}

a span.text{
    transition: 0.5s;
    opacity: 0;
    position: absolute;
    left: calc(-50% - 70px);
    right: auto;
    transform: translateY(10px);
    bottom: auto;
    pointer-events: none;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    width: 75px;
    text-align: center;
}
.links-container a:hover span.text{
    opacity: 1;
}

.sm-column a{
    display: block;
    margin: 10px 4px;
    padding: 4px 0px;
}

a i{
    transition: 0.3s;
    font-size: 2em;
    text-decoration: none;
    color:var(--main-color);
}

.click-sign{
    transition: all 1s, opacity 0.3s;
    width: 100px;
    transform: translateX(calc(-50px - 2em));
    position: absolute;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(0, 174, 255);
    opacity: 0;
    border: 1px solid rgb(0, 105, 153);
    cursor: pointer;
    visibility: hidden;
    pointer-events: none;
    box-shadow: 0 0 2px black;
}
.click-sign::before{
    content:'';
    width: 0;
    height: 0;
    left: 100px;
    top: -1px;
    border:15px solid rgb(0, 105, 153);
    border-color: rgb(0, 174, 255)  transparent  transparent; 
    z-index: -1;
    position: absolute;
}

.links-container a:hover .click-sign{
    transition: all 0.3s;
    transform: translate(-145px,0);
    opacity: 1;
    visibility: visible;
}
.links-container a:hover i{
    transition: 0.5s;
    font-size: 3em;
    background-color: white;
    border-radius: 50%;
}


@media screen and (max-width:1185px){
    .sm-column{
        position: relative;
        display: block;
        width: 100vw;
        height: auto;
    }
    .links-container{
        flex-direction: row;
        justify-content: center;
    }
    .links-container:hover{
        transform: translateX(0);
    }
    .links-container a:hover .click-sign{
        transition: all 0.3s;
        transform: translate(-145px,0);
        opacity: 1;
        visibility: visible;
    }
}
