<div class="container">
    <div class="front-end border">
        <h2>Front-end:</h2>
        <div class="bar bar0">
            <div class="sq len9"><span class="text">HTML:</span></div>
        </div>
        <div class="bar bar0">
            <div class="sq len9"><span class="text">CSS:</span></div>
        </div>
        <div class="bar bar0">
            <div class="sq len5"><span class="text">Javascript:</span></div>
        </div>
        <div class="bar bar0">
            <div class="sq len4"><span class="text">Angular:</span></div>
        </div>
        <div class="bar bar0">
            <div class="sq len4"><span class="text">Bootstrap:</span></div>
        </div>
        <div class="bar bar0">
            <div class="sq len2"><span class="text">Jquery:</span></div>
        </div>
        <div class="bar bar0">
            <div class="sq len2"><span class="text">React:</span></div>
        </div>
    </div>

    <div class="back-end border">
        <h2>Back-end:</h2>
        <div class="bar bar0">
            <div class="sq len3"><span class="text">MySQL:</span></div>
        </div>
        <div class="bar bar0">
            <div class="sq len2"><span class="text">Python:</span></div>
        </div>
        <div class="bar bar0">
            <div class="sq len4"><span class="text">Java:</span></div>
        </div>
        <div class="bar bar0">
            <div class="sq len4"><span class="text">Ruby:</span></div>
        </div>
    </div>
</div>