/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Work+Sans:wght@200;300;400;700&display=swap');



body { 
    margin: 0; 
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
}


.border{
    border: 1px solid var(--bordeau-color);
    box-shadow: 0 0 5px var(--bordeau-color);
    background-color: var(--light-pink-bg);
}

.border:hover{
    box-shadow: 0 0 20px goldenrod;
}